{% extends "base.html" %}

{ % block title % }
<title>stock</title>
{ % endblock title % } 

{% block content %}
<!-- Stock Management -->
<section id="stock" class="section">
  <h2 style="text-align: center;">MY CART</h2>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Image</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </thead>
       
        <tbody>
          {% for i in range(cartItems|length) %}
          <tr>
            <td data-lable="Id">{{ i+1 }}</td>
            {% set filename = cartItems[i][4] %}
            <td data-lable="Image">          <img
              src="{{ url_for('static', filename=filename) }}"
              alt=""
              class="cartImage"
            />
            </td>

            <td data-lable="Product Name" >{{ cartItems[i][0] }}</td>
            <td data-lable="Unit Price" >{{ cartItems[i][5] }}</td>
            <td data-lable="Quantity" >{{ cartItems[i][1] }}</td>
            {% set total = ((cartItems[i][2]|length)*(cartItems[i][6]|length)) %}
            <td data-lable="Total" >{{ total }}</td> 
            <td data-lable="Action">
              <div class="mikeBtns">
              <form action="/editCart" method="post">
                <input type="checkbox" name="product_id" class="mike" value="{{ cartItems[i][3] }}" checked="true">
                <input type="checkbox" name="productName" class="mike" value="{{ cartItems[i][0] }}" checked="true">
                <input type="checkbox" name="quantity" class="mike" value="{{ cartItems[i][1] }}" checked="true">
                <input type="checkbox" name="imageFileName" class="mike" value="{{ cartItems[i][4] }}" checked="true">
                <input type="submit" value="edit" class="ctbtn">
              </form>

              <form action="/deleteCart" method="post">
                <input type="checkbox" name="product_id" class="mike" value="{{ cartItems[i][3] }}" checked="true">
                <input type="checkbox" name="productName" class="mike" value="{{ cartItems[i][0] }}" checked="true">
                <input type="checkbox" name="quantity" class="mike" value="{{ cartItems[i][1] }}" checked="true">
                <input type="submit" value="delete" class="dctgbtn">
              </form>
            </div>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>TOTAL:</b></td> 
            <td><b>KSH {{ totalPrice }}</b></td>
            <td></td>
        </tr>
        </tbody>

      </table>
    </div>
    {% if cart > 0 %}
    <br>
<div class="checkoutb">
<a href="/placeOrder" class="checkoutbtn">proceed to checkout</a>
</div>
{% endif %}
</section>
{% endblock content %}


