{% extends "base.html" %}

{% block title %}
<title>homepage</title>
{% endblock title %}

{% block content %}
  

<!-- Main Carousel -->
<div class="carousel-container">
  <div class="carousel">
      <div class="carol"><img src="{{ url_for('static', filename='images/corA1.png') }}" alt="Slide 1"></div>
      <div class="carol"><img src="{{ url_for('static', filename='images/corA2.png') }}" alt="Slide 2"></div>
      <div class="carol"><img src="{{ url_for('static', filename='images/corA3.png') }}" alt="Slide 3"></div>
      <!-- Add more slides as needed -->
  </div>
  <button class="carousel-prev"><i class="fas fa-chevron-left"></i></button>
  <button class="carousel-next"><i class="fas fa-chevron-right"></i></button>
</div>

<!----- CATEGORIES ----->
<section class="categories container section" id="skincare">
    <h3 class="section_title"><span>Popular</span> Categories</h3>

    <div class="categories_container swiper">
        <div class="swiper-wrapper">
            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med2.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Salicyclic Acid Daily Gentle Cleanser </h3></div>
                    <div><h5 class="p-price">Ksh. 2500</h5></div>
                </div>
                <br><br>
                
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med3.png') }}" alt="" class="category_img">
                <div class="itemPrice">
                    <div><h3 class="category_title">Advanced Snail 92 - All in one cream</h3></div>
                    <div><h5 class="p-price">Ksh. 2500</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med4.png') }}" alt="" class="category_img">
                <div class="itemPrice">
                    <div><h3 class="category_title">Advanced Snail 96 - Mucin power essence</h3></div>
                    <div><h5 class="p-price">Ksh. 2500</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med5.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Low Good Morning Gel Cleanser</h3></div>
                    <div><h5 class="p-price">Ksh. 2500</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med1.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Niacinamide 10% + TXA 4% Serum</h3></div>
                    <div><h5 class="p-price">Ksh. 3200</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med6.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Anua HEARTLEAF pore control cleansing oil</h3></div>
                    <div><h5 class="p-price">Ksh. 3200</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/med7.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Anua HEARTLEAF 77% soothing toner</h3></div>
                    <div><h5 class="p-price">Ksh. 3200</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>
        </div>

        <div class="swiper-button-next">
            <!--<i class="fi fi-rs-angle-small-right"></i>--> 
        </div>
        <div class="swiper-button-prev">
            <!--<i class="fi fi-rs-angle-small-left"></i>-->
        </div>
    </div>
</section>

<!-- become sira member start -->
 <div class="become-sira-member">
    <div>
        <h2>Become a <span>Sira Pharmacy</span> Member</h2>
        <p>And enjoy extra discount on products</p>
        <hr>
    </div>
    <div>
        <p>Save 5% extra on medication & enjoy Free delivery with Sira Membership</p>
        <button>Explore Now <i class="fi fi-rs-angle-small-right"></i></button>
    </div>
    <div>
        <img src="{{ url_for('static', filename='images/med1.png') }}" alt="">
    </div>
 </div>
<!-- become sira member end -->


<section class="categories container section"  id="vitamins&supplements">
    <h3 class="section_title"><span>Vitamins</span> & Suppliments</h3>

    <div class="categories_container swiper">
        <div class="swiper-wrapper">
            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/becoactinSyrup.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Becoactin SYRUP</h3></div>
                    <div><h5 class="p-price">Ksh. 600</h5></div>
                </div>
                <br><br>
                
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/becoactinTablets.png') }}" alt="" class="category_img">
                <div class="itemPrice">
                    <div><h3 class="category_title">Becoactin TABLETS</h3></div>
                    <div><h5 class="p-price">Ksh. 600</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/trimetabol.png') }}" alt="" class="category_img">
                <div class="itemPrice">
                    <div><h3 class="category_title">Trimetabol</h3></div>
                    <div><h5 class="p-price">Ksh. 1500</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/bonnisan.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">Bonnisan | for bonny, healthy babies</h3></div>
                    <div><h5 class="p-price">Ksh. 670</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/tres-orix.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">tres-orix FORTE</h3></div>
                    <div><h5 class="p-price">Ksh. 1000</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

            <a href="shop.html" class="category_item swiper-slide">
                <img src="{{ url_for('static', filename='images/infacol.png') }}" alt="" class="category_img">

                <div class="itemPrice">
                    <div><h3 class="category_title">infacol Simeticone | effective colic relief</h3></div>
                    <div><h5 class="p-price">Ksh. 3200</h5></div>
                </div>
                <br><br>
                <button class="ctgbtn">Add to Cart</button>
            </a>

        </div>

        <div class="swiper-button-next">
            <!--<i class="fi fi-rs-angle-small-right"></i>--> 
        </div>
        <div class="swiper-button-prev">
            <!--<i class="fi fi-rs-angle-small-left"></i>-->
        </div>
    </div>
</section>


<div class="welcome-to-sira">
  <h2>WELCOME TO SIRA PHARMACY</h2>
  <h3>Better Care, Bright Future</h3>

  <p>Welcome to Sira Pharmacy, your trusted partner in healthcare and wellness. 
      At Sira Pharmacy, we are dedicated to providing high-quality pharmaceutical 
      services and products tailored to meet the diverse needs of our community. 
      Our commitment to excellence is reflected in our wide range of prescription 
      medications, over-the-counter drugs, and health-related products, all 
      designed to support your well-being and enhance your quality of life.
  </p>

  <p>Our knowledgeable and compassionate team of pharmacists is here to offer 
      expert advice and personalized care. Whether you need assistance with 
      managing medications, understanding dosage instructions, or exploring 
      health and wellness solutions, our professionals are ready to provide 
      guidance and support. We believe in building lasting relationships with 
      our customers, ensuring that every visit is met with a warm 
      welcome and attentive service.
  </p>

  <p>At Sira Pharmacy, we understand that convenience is key to maintaining 
      your health regimen. That’s why we offer a range of services designed 
      to make your experience as smooth and efficient as possible. 
      From easy prescription refills and medication synchronization to our 
      user-friendly online portal, we strive to meet your needs with minimal hassle. 
      Our goal is to ensure that you have access to the products and services you need,
       when you need them.
  </p>

  <p>Community engagement and customer satisfaction are at the heart of 
      our mission. We actively participate in local health initiatives 
      and support various charitable causes to give back to the community 
      that has supported us. At Sira Pharmacy, we are not just a place to 
      get your medications; we are a hub for health and wellness that aims 
      to positively impact the lives of those we serve. Join us in our 
      journey to better health and experience the difference that 
      personalized care and community commitment can make.
  </p>
</div>



{% endblock content %}

{% block script %}
    <script>
      $(document).ready(function(){
    // Initialize main carousel
    $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 2,
        slidesToScroll: 1
    });

    $('.carousel-prev').on('click', function(){
        $('.carousel').slick('slickPrev');
    });

    $('.carousel-next').on('click', function(){
        $('.carousel').slick('slickNext');
    });

    
});

    </script>
    {% endblock script %}