{% extends "base.html" %} {% block title %}
<title>homepage</title>
{% endblock title %} {% block head %}
<ul class="navigation-menu">
  <li><a href="#">Health Care</a></li>
  <li class="dropdown">
    <a href="{{ url_for('auth.products') }}#skin-care">Skin Care</a>
    <i class="fa-solid fa-chevron-down"></i>
    <ul class="sub-menu">
      <li>
        <a href="#"><span>La Roche - Posay</span></a>
      </li>
      <li>
        <a href="#"><span>Cerave</span></a>
      </li>
      <li>
        <a href="#"><span>Korean Skin Care</span></a>
      </li>
      <li>
        <a href="#"><span>The Ordinary</span></a>
      </li>
      <li>
        <a href="#"><span>Simple</span></a>
      </li>
    </ul>
  </li>
  <li><a href="#">Hair Care</a></li>
  <li><a href="#">Dental Care</a></li>
  <li><a href="#">Personal Care</a></li>
  <li><a href="#">Mum & Baby</a></li>
  <li><a href="{{ url_for('auth.products') }}#vitamins-supplements">Vitamins & Supplements</a></li>
  <li><a href="#">Device & Diagnostics</a></li>
  <li><a href="#">Men Grooming</a></li>
  <li><a href="#">Family Planning</a></li>
  <li><a href="#">Prescription</a></li>
</ul>
{% endblock head %} {% block content %}

<!-- Main Carousel -->
<div class="carousel-container">
  <div class="carousel">
    <div class="carol">
      <img
        src="{{ url_for('static', filename='images/corA1.png') }}"
        alt="Slide 1"
      />
    </div>
    <div class="carol">
      <img
        src="{{ url_for('static', filename='images/corA2.png') }}"
        alt="Slide 2"
      />
    </div>
    <div class="carol">
      <img
        src="{{ url_for('static', filename='images/corA3.png') }}"
        alt="Slide 3"
      />
    </div>
    <!-- Add more slides as needed -->
  </div>
  <button class="carousel-prev"><i class="fas fa-chevron-left"></i></button>
  <button class="carousel-next"><i class="fas fa-chevron-right"></i></button>
</div>

<!----- CATEGORIES ----->
<section class="categories container section" id="skincare">
  <h3 class="section_title"><span>Popular</span> Categories</h3>

  <div class="categories_container swiper">
    <div class="swiper-wrapper">

<!-- JAN25 UPDATES -->
<div class="category_item swiper-slide">
  <form action="/add2cart" method="post">
    <img
      src="{{ url_for('static', filename='images/med2.png') }}"
      alt=""
      class="category_img"
    />

    <div class="itemPrice">
      <div>
        <h3 class="category_title">
          Salicyclic Acid Daily Gentle Cleanser
        </h3>
      </div>
      <div><h5 class="p-price">Ksh. 2500</h5></div>
    </div>
    <br /><br />
    <input
      type="checkbox"
      class="mike"
      name="productName"
      value="Salicyclic Acid"
      checked="true"
    />
    <input
      type="checkbox"
      class="mike"
      name="productPrice"
      value="2500"
      checked="true"
    />
    <input
      type="checkbox"
      class="mike"
      name="imageFileName"
      value="images/med2.png"
      checked="true"
    />
    <button class="ctgbtn">Add to Cart</button>
  </form>
</div>

<div class="category_item swiper-slide">
  <form action="/add2cart" method="post">
    <img
      src="{{ url_for('static', filename='images/hyaluronicWaterySunGel.png') }}"
      alt=""
      class="category_img"
    />
    <div class="itemPrice">
      <div>
        <h3 class="category_title">
          Hyaluronic Watery Sun Gel
        </h3>
      </div>
      <div><h5 class="p-price">Ksh. 2500</h5></div>
    </div>
    <br /><br />
    <input
      type="checkbox"
      class="mike"
      name="productName"
      value="Hyaluronic Watery Sun Gel"
      checked="true"
    />
    <input
      type="checkbox"
      class="mike"
      name="productPrice"
      value="2500"
      checked="true"
    />
    <input
      type="checkbox"
      class="mike"
      name="imageFileName"
      value="images\hyaluronicWaterySunGel.png"
      checked="true"
    />
    <button class="ctgbtn">Add to Cart</button>
  </form>
</div>

<!-- END OF JAN25 UPDATES-->

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med2.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                Salicyclic Acid Daily Gentle Cleanser
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 2500</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Salicyclic Acid"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="2500"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med2.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med3.png') }}"
            alt=""
            class="category_img"
          />
          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                Advanced Snail 92 - All in one cream
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 2500</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Advanced Snail 92"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="2500"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med3.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med4.png') }}"
            alt=""
            class="category_img"
          />
          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                Advanced Snail 96 - Mucin power essence
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 2500</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Advanced Snail 96"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="2500"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med4.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med5.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">Low Good Morning Gel Cleanser</h3>
            </div>
            <div><h5 class="p-price">Ksh. 2500</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Gel cleanser"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="2500"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med5.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med1.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">Niacinamide 10% + TXA 4% Serum</h3>
            </div>
            <div><h5 class="p-price">Ksh. 3200</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Niacinamide"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="3200"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med1.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med6.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                Anua HEARTLEAF pore control cleansing oil
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 3200</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Anua HEARTLEAF"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="3200"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med6.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/med7.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">Anua HEARTLEAF 77% soothing toner</h3>
            </div>
            <div><h5 class="p-price">Ksh. 3200</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Anua HEARTLEAF 77%"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="3200"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/med7.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>
    </div>

    <div class="swiper-button-next">
      <!--<i class="fi fi-rs-angle-small-right"></i>-->
    </div>
    <div class="swiper-button-prev">
      <!--<i class="fi fi-rs-angle-small-left"></i>-->
    </div>
  </div>
</section>

<!-- become sira member start -->
<div class="become-sira-member">
  <div>
    <h2>Become a <span>Sira Pharmacy</span> Member</h2>
    <p>And enjoy extra discount on products</p>
    <hr />
  </div>
  <div>
    <p>
      Save 5% extra on medication & enjoy Free delivery with Sira Membership
    </p>
    <button>Explore Now <i class="fi fi-rs-angle-small-right"></i></button>
  </div>
  <div>
    <img src="{{ url_for('static', filename='images/med1.png') }}" alt="" />
  </div>
</div>
<!-- become sira member end -->

<section class="categories container section" id="vitamins&supplements">
  <h3 class="section_title"><span>Vitamins</span> & Suppliments</h3>

  <div class="categories_container swiper">
    <div class="swiper-wrapper">
      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/becoactinSyrup.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div><h3 class="category_title">Becoactin SYRUP</h3></div>
            <div><h5 class="p-price">Ksh. 600</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Becoactin Syrup"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="600"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/becoactinSyrup.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/becoactinTablets.png') }}"
            alt=""
            class="category_img"
          />
          <div class="itemPrice">
            <div><h3 class="category_title">Becoactin TABLETS</h3></div>
            <div><h5 class="p-price">Ksh. 600</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Becoactin Tablets"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="600"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/becoactinTablets.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/trimetabol.png') }}"
            alt=""
            class="category_img"
          />
          <div class="itemPrice">
            <div><h3 class="category_title">Trimetabol</h3></div>
            <div><h5 class="p-price">Ksh. 1500</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Trimetabol"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="1500"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/trimetabol.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/bonnisan.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                Bonnisan | for bonny, healthy babies
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 670</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Bonnisan"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="670"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/bonnisan.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/tres-orix.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div><h3 class="category_title">tres-orix FORTE</h3></div>
            <div><h5 class="p-price">Ksh. 1000</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="tres-orix FORTE"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="1000"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/tres-orix.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>

      <div class="category_item swiper-slide">
        <form action="/add2cart" method="post">
          <img
            src="{{ url_for('static', filename='images/infacol.png') }}"
            alt=""
            class="category_img"
          />

          <div class="itemPrice">
            <div>
              <h3 class="category_title">
                infacol Simeticone | effective colic relief
              </h3>
            </div>
            <div><h5 class="p-price">Ksh. 3200</h5></div>
          </div>
          <br /><br />
          <input
            type="checkbox"
            class="mike"
            name="productName"
            value="Infacol Simeticone"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="productPrice"
            value="3200"
            checked="true"
          />
          <input
            type="checkbox"
            class="mike"
            name="imageFileName"
            value="images/infacol.png"
            checked="true"
          />
          <button class="ctgbtn">Add to Cart</button>
        </form>
      </div>
    </div>

    <div class="swiper-button-next">
      <!--<i class="fi fi-rs-angle-small-right"></i>-->
    </div>
    <div class="swiper-button-prev">
      <!--<i class="fi fi-rs-angle-small-left"></i>-->
    </div>
  </div>
</section>

<div class="welcome-to-sira">
  <h2>WELCOME TO SIRA PHARMACY</h2>
  <h3>Better Care, Bright Future</h3>

  <p>
    Sira Pharmacy specializes in skin care analysis, providing personalized
    assessments to meet your unique needs. Our dedicated team offers
    high-quality pharmaceutical services alongside expert skin care advice. We
    prioritize community engagement and emphasize our commitment: <b>"Your health
    is our priority."</b>  Experience exceptional service and support tailored to
    your wellness journey.
  </p>

  <p>M-pesa TILL NO: 4757290</p>
</div>

{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    // Initialize main carousel
    $(".carousel").slick({
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 2,
      slidesToScroll: 1,
    });

    $(".carousel-prev").on("click", function () {
      $(".carousel").slick("slickPrev");
    });

    $(".carousel-next").on("click", function () {
      $(".carousel").slick("slickNext");
    });
  });
</script>
{% endblock script %}
