{% extends "dashboard.html" %} {% block title %}
<title>login</title>
{% endblock title %} {% block content %}
<form action="/login" class="login" method="post">
  <div class="login-content">
    <label for="email address" class="login-label-dashboard">Email address</label>
    <input
      class="login-textbox"
      type="email"
      name="email"
      id="email"
      value=""
      placeholder="enter email"
      required
    />
    <br />
    <br />
    <label for="password" class="login-label-dashboard">Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input
      class="login-textbox"
      type="password"
      name="password"
      id="password"
      value=""
      placeholder="enter password"
      required
    />
    <br /> <br>
    <input type="submit" class="btn btn-db" value="login" />
    <br /> <br>
    <div class="links">
      <a class="login-links" href="#">forgot password</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="login-links" href="/sign_up">register</a>
    </div>
  </div>
</form>

{% endblock content %}
