{% extends "base.html" %} 
{% block title %}
<title>Stock</title>
{% endblock title %} 

{% block content %}
<!-- Stock Management -->
<section id="stock" class="section">
  <h2 style="text-align: center">ITEMS IN CART</h2>
  <br />
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <th>#</th>
        <th>Image</th>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </thead>
      <tbody>
        {% for i in range(cartItems|length) %}
        <tr>
          <td>{{ i + 1 }}</td>
          {% set filename = cartItems[i][4] %}
          <td>
            <img src="{{ url_for('static', filename=filename) }}" alt="" class="cartImage" />
          </td>
          <td>{{ cartItems[i][0] }}</td>
          <td>{{ cartItems[i][5] }}</td>
          <td>{{ cartItems[i][1] }}</td>
          {% set total = ((cartItems[i][2] | length) * (cartItems[i][6] | length)) %}
          <td>{{ total }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>TOTAL:</b></td>
          <td><b>KSH {{ totalPrice }}</b></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="checkoutb">
    <form id="placeOrder" action="" method="post">
      <br />
      <label for="destination">Destination address</label>
      <input type="text" id="destination" name="destination" required /><br>
      <label for="paymentMode">Payment Method</label>
      <select class="form-control" id="paymentMode" name="paymentMode" required>
          <option value="" disabled selected>Select Payment Method</option>
          <option value="credit_card">Credit Card</option>
          <option value="paypal">PayPal</option>
          <option value="mpesa">M-Pesa</option>
      </select>
      <br /><br />
      <input type="submit" value="Place Order" class="checkoutbtn" />
    </form>
  </div>
</section>
{% endblock content %}

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const placeOrder = document.getElementById("placeOrder"); // Get the form element

    // Handle form submission
    placeOrder.addEventListener("submit", (e) => {
      e.preventDefault(); // Prevent the default form submission

      // Show alert to the user
      alert("ORDER HAS BEEN SUCCESSFULLY PLACED. CHECK YOUR MAIL FOR CONFIRMATION MESSAGE!");

      // Use setTimeout to ensure the alert shows before submitting the form
      setTimeout(() => {
        placeOrder.submit(); // Submit the form
      }, 100); // Delay of 100 milliseconds
    });
  });
</script>
