{% extends "base.html" %} {% block title %}
<title>Search</title>
{% endblock title %} {% block content %}
<!-- Main Carousel -->
<div class="carousel-container">
  <div class="carousel">
    <div class="carol"><h4>SEARCH RESULTS</h4></div>
  </div>
</div>
<!----- CATEGORIES ----->
<section class="categories container section" id="skincare">
  <h4>Showing results for <i>'{{ search[0][0] }}'</i></h4>

  <div class="categories_container swiper">

    <div class="swiper-wrapper">
      <a href="/shop" class="category_item swiper-slide">
        <img
          src="{{ url_for('static', filename=filename ) }}"
          alt=""
          class="category_img"
        />

        <div class="itemPrice">
          <div>
            <h3 class="category_title"><p>{{ search[0][0] }}</p></h3>
          </div>
          <div><h5 class="p-price">Ksh. {{ search[0][3] }}</h5></div>
        </div>
        <br /><br />

        <button class="ctgbtn">Add to Cart</button>
      </a>
    </div>

    <div class="swiper-button-next">
      <!--<i class="fi fi-rs-angle-small-right"></i>-->
    </div>
    <div class="swiper-button-prev">
      <!--<i class="fi fi-rs-angle-small-left"></i>-->
    </div>
  </div>
</section>

<!----- CATEGORIES ----->
<section class="categories container section" id="skincare">
  <h3 class="section_title"><span>Related</span> searches</h3>

  <div class="categories_container swiper">
    <div class="swiper-wrapper">
      {% for i in range(relatedSearch|length) %}

      <a href="/shop" class="category_item swiper-slide">
        <img
          src="{{ url_for('static', filename=relatedSearch[i][2] ) }}"
          alt=""
          class="category_img"
        />

        <div class="itemPrice">
          <div>
            <h3 class="category_title"><p>{{ relatedSearch[i][0] }}</p></h3>
          </div>
          <div><h5 class="p-price">Ksh. {{ relatedSearch[i][3] }}</h5></div>
        </div>
        <br /><br />

        <button class="ctgbtn">Add to Cart</button>
      </a>
      {% endfor %}
    </div>

    <div class="swiper-button-next">
      <!--<i class="fi fi-rs-angle-small-right"></i>-->
    </div>
    <div class="swiper-button-prev">
      <!--<i class="fi fi-rs-angle-small-left"></i>-->
    </div>
  </div>
</section>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    // Initialize main carousel
    $(".carousel").slick({
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      dots: true,
      infinite: true,
      speed: 500,
      slidesToShow: 2,
      slidesToScroll: 1,
    });

    $(".carousel-prev").on("click", function () {
      $(".carousel").slick("slickPrev");
    });

    $(".carousel-next").on("click", function () {
      $(".carousel").slick("slickNext");
    });
  });
</script>
{% endblock script %}
