{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<body>
    <div class="wrapper">
        <h1>Register</h1>
        <form action="/sign_up" method="post">
            <div class="credentials">
                <div class="input-container">
                    <div class="fa fa-user icon"></div>
                    <input type="text" name="fullname" placeholder="Username" required="">
                </div>

                <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input type="email" name="email" laceholder="Email" required>
                </div>

                <div class="input-container">
                    <div class="fa fa-lock icon"></div>
                    <input type="password" id="register-password" name="password1" placeholder="Password" required="">
                    <i id="toggle-register-password" class="fa fa-eye"></i>
                </div>
                
                <div class="input-container">
                    <div class="fa fa-lock icon"></div>
                    <input type="password" id="confirm-password" name="password2" placeholder="Confirm Password" required="">
                    <i class="fa fa-eye" id="toggle-confirm-password"></i>
                </div>
            </div>

            <div class="terms">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">I agree to these <a href="{{ url_for('auth.terms_and_conditions') }}">Terms & Conditions</a></label>
            </div>
            <button type="submit" class="ubutton" >Register</button>
    
            <div class="member">
                Already a member? <a href="./login">
                    Login here 
                </a>
            </div>

        </form>
    </div>
</body>

<style>
    .search-bar,
    .cart .fa-shopping-cart,
    .count,
    .contact-info .open-menu-btn{
     display: none;
    } 
    
    .icon{
     position: absolute;
     left: 10px;
     top: 38%;
     transform: translateY(-50%);
     color: #555;
    }
 
 </style>

{% endblock %}