{% extends "base.html" %} { % block title % }
<title>stock</title>
{ % endblock title % } {% block content %}
<!-- Stock Management -->
<section id="stock" class="section">
  <h2 style="text-align: center">USERS</h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <th>COUNT</th>
        <th>NAME</th>
        <th>EMAIL</th>
      </thead>

      <tbody>
        {% for i in range(users|length) %}
        <tr>
          <td>{{i+1}}</td>
          <td data-lable="NAME">{{ users[i][0] }}</td>
          <td data-lable="EMAIL">{{ users[i][1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<style>
  .search-bar {
    display: none;
  }
</style>

{% endblock content %}
