/* General Reset and Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');
/*----- VARIABLE CSS -----*/
:root {
    --header-height: 4rem;

    /*----- Colors -----*/
    /*----- Color mode HSL(hue, saturation, lightness)-----*/
    --web-color:hsl(221, 100%, 25%);
    --first-color: hsl(176, 88%, 27%);
    --first-color-alt: hsl(129, 44%, 94%);
    --second-color: hsl(34, 94%, 87%);
    --title-color: hsl(0, 0%, 13%);
    --text-color: hsl(154, 13%, 32%);
    --text-color-light: hsl(60, 1%, 56%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(129, 36%, 85%);
    --border-color-alt: hsl(113, 15%, 90%);

    /*----- Font and Typography -----*/
    /* .5rem = 8px | 1rem = 16px ...*/
    --body-font: "Lato", sans-serif;
    --second-font: "Spartan", sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;

    /*----- Font Weight -----*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /*----- Transition -----*/
    --transition: cubic-bezier(0, 0, 0.05, 1);
}

/*----- Responsive typography -----*/
@media screen and (max-width: 1200px) {
  :root {
      --big-font-size: ;
      --h1-font-size: ;
      --h2-font-size: ;
      --h3-font-size: ;
      --h4-font-size: ;
      --large-font-size: ;
      --normal-font-size: ;
      --small-font-size: ;
      --smaller-font-size: ;
      --tiny-font-size: ;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pos{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  background-color: blue;
  align-items: center;
  border-radius: 10px;
  height: auto;
  padding: 0px 10px;
  width: auto;
}

/* Header Styles */
.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 0.3px solid rgb(0, 41, 128);
}

.container{
max-width: 100%;
margin: auto;
padding: 0 20px;
}

.section {
  padding-block: 2rem;
}

.section_title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}

.section_title span {
  color: var(--first-color);
}

.top-bar {
  background-color: rgb(0, 41, 128);
  color: white;
  height: 100%;
  padding: 5px 10px;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .social-links a{
display: inline-block;
height: 20px;
width: 20px;
margin: 0 10px 10px 0;
text-align: center;
color: #ffffff;
transition: all 0.5s ease;
}
.top-bar .social-links a:hover{
color: #00d9ff;
}
.main-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.logo {
  margin-right: auto;
}

.logo img {
  max-height: 50px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.search-bar input {
  padding: 8px 40px 8px 15px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}

.search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.contact-info {
  display: flex;
  padding-right: 20px;
  align-items: center;
  margin-left: auto;
}

.contact-info a {
  margin-left: 30px;
  color: royalblue;
  text-decoration: none;
  font-size: 16px;
}

.contact-info i {
  display: block;
  margin-bottom: 2px;
}

.open-menu-btn {
  display: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 15px;
}

.header .menu .head{
display: none;
}
.header .menu ul{
list-style: none;
}
.header .menu > ul > li{
display: inline-block;
}
.header .menu > ul > li:not(:last-child){
margin-right: 40px;
}
.header .menu .dropdown{
position: relative;
}
.header .menu a{
text-decoration: none;
text-transform: capitalize;
font-size: 18px;
font-weight: 500;
color: black;
line-height: 1.5;
display: block;
}
.header .menu > ul > li > a{
padding: 24px 0;
}
.header .menu > ul > .dropdown > a{
padding-right: 15px;

}
.header .menu i{
font-size: 10px;
pointer-events: none;
user-select: none;
position: absolute;
color: black;
top: calc(50% - 5px);
}
.header .menu > ul > li > i{
right: 0;
}
.header .menu .sub-menu{
position: absolute;
top: 100%;
left: 0;
width: 230px;
padding: 15px 0;
background-color: #ffffff;
border-top: 2px solid #51eaea;
box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
z-index: 1;
transform-origin: top;
transform: scaleY(0);
visibility: hidden;
opacity: 0;
}
.header .menu li:hover > .sub-menu{
opacity: 1;
transform: none;
visibility: visible;
transition: all 0.5s ease;
}
.header .menu .sub-menu a{
padding: 6px 24px;
}
.header .menu .sub-menu .dropdown > a{
padding-right: 34px;
}
.header .menu .sub-menu span{
background-image: linear-gradient(royalblue, royalblue);
background-size: 0 1px;
background-repeat: no-repeat;
background-position: 0 100%;
transition: background-size 0.6s ease;
}
.header .menu .sub-menu li:hover > a > span{
background-size: 100% 1px;
}
.header .menu .sub-menu i{
transform: rotate(-90deg);
right: 24px;
}
.header-right{
display: flex;
}
.header-right > *{
margin-left: 25px;
}
.header-right .icob-btn{
background-color: transparent;
border: none;
cursor: pointer;
color: royalblue;
font-size: 16px;
}
.header-right .open-menu-bar{
display: none;
}
/* What about this*/

.header .menu ul{
  list-style: none;
  font-size: 5px;
  padding-bottom: 0px;
}
.header .menu > ul > li{
  display: inline-block;
}
.header .menu > ul > li:not(:last-child){
  margin-right: 10px;
}
.header .menu .dropdown{
  position: relative;
}
.header .menu a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: black;
  line-height: 1.5;
  display: block;
}
.header .menu > ul > li > a{
  padding: 24px 0;
}
.header .menu > ul > .dropdown > a{
  padding-right: 15px;
  
}
.header .menu i{
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: black;
  top: calc(50% - 5px);
}
.header .menu > ul > li > i{
  right: 0;
}
.header .menu .sub-menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  padding: 15px 0;
  background-color: #ffffff;
  border-top: 2px solid #51eaea;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}
.header .menu li:hover > .sub-menu{
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}
.header .menu .sub-menu a{
  padding: 6px 24px;
}
.header .menu .sub-menu .dropdown > a{
  padding-right: 34px;
}
.header .menu .sub-menu span{
  background-image: linear-gradient(royalblue, royalblue);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.6s ease;
}
.header .menu .sub-menu li:hover > a > span{
  background-size: 100% 1px;
}
.header .menu .sub-menu i{
  transform: rotate(-90deg);
  right: 24px;
}
.header-right{
  display: flex;
}
.header-right > *{
  margin-left: 25px;
}
.header-right .icob-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: royalblue;
  font-size: 16px;
}
.header-right .open-menu-bar{
  display: none;
}

.cart .count {
  position: absolute;
  top: 1rem;
  right: 1.6rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);
}

/* What about this*/
/* Carousel */
.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-container .carousel img {
  height: 450px;
  width: 100%;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: royalblue;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 20; /* Ensure buttons are above other elements */
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/*----- CATEGORIES -----*/
.categories {
  overflow: hidden;
}

.category_item {
  text-decoration: none;
  
  border: 1px solid var(--border-color);
  padding: 0.625rem 0.625rem 1.25rem;
  border-radius: 1.25rem;
}

.category_img {
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 170px;
}

.category_title {
  color: var(--text-color);
  font-size: var(--small-font-size);
}

.p-price {
  position: absolute;
  right: 20px;
}

.ctgbtn {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #2adb2a;
  color: #2adb2a;
  height: 25px;
  width: 100px;
  border-radius: .2rem;
  
  transition: all 0.4s var(--transition);
}

.ctgbtn:hover {
  background-color: #2adb2a;
  color: #ffffff;
}

/*----- SWIPER CLASS -----*/
.swiper {
  overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

/*----- BUTTONS -----*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 20px;
  line-height: 20px;
  border-radius: .5rem;
  font-family: var(--second-font);
  font-size: var(--smaller-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}


.welcome-to-sira{
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: royalblue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #c5f5fa;
  text-align: justify; /* Justifies all lines except the last one */
  text-align-last: center; /* Centers the last line */
  -moz-text-align-last: center;
}
.welcome-to-sira h2{
padding-bottom: 30px;
}
.welcome-to-sira h3{
padding-bottom: 20px;
}
.welcome-to-sira p{
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;

}

/* Responsive Design */

@media screen and (max-width: 769px) {

  .search-bar {
      margin: 0 auto;
      max-width: 600px;
  }

  .search-btn {
      position: absolute;
      right: 10px;
  }

  .contact-info {
      margin-left: auto;
  }

  .menu-nav {
      display: none;
  }

  .carousel-container {
    position: relative;
    height: 450px;
    width: 100%;
  }
  
  .carousel-container .carousel img {
    height: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .cart .count {
    top: -0.55rem;
    right: 2.6srem;
  }

.carousel-container {
  position: relative;
  height: 230px;
  width: 100%;
}

.carousel-container .carousel img {
  height: 230px;
  width: 100%;
}
  .top-bar {
      height: 100%;
  }

  .main-bar {
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      position: relative;
  }

  .search-bar {
      width: calc(100% - 40px);
      position: relative;
  }

  .search-bar input {
      width: calc(100% - 60px);
      padding-right: 50px;
  }

  .search-btn {
      right: 70px;
      font-size: 14px;
  }

  .contact-info {
      position: absolute;
      padding-bottom: 30px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
  }

  .contact-info a {
      display: none;
  }

  .contact-info .whatsapp-link,
  .contact-info .account,
  .contact-info .cart,
  .contact-info .open-menu-btn {
      display: block;
      margin-left: 10px;
      padding-left: 5px;
  }

  .open-menu-btn {
      display: block;
      color: royalblue;
  }

  .menu-nav {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      color: black;
      background-color: #ffffff;
      z-index: 20; /* Ensure the menu is above the carousel */
  }

  .welcome-to-sira p{
      padding-left: 50px;
      padding-right: 50px;
  
  }
}

/* footer */
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #007bff;
  padding: 70px 0;
  padding-left: 70px;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: aqua;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #007bff;
  background-color: #ffffff;
}

/* @footer responsive */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 50%;
  }
}  

/* footer */

/*header modifications*/

@media(max-width:991px){
  .header{
    padding: 12px 0;
  }
  .header .menu{
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: #ffffff;
    padding: 15px 30px 30px;
    overflow-y: auto;
    z-index: 1;
    transform: translateX(100%);
  }
  .header .menu.open{
    transform: none;
  }
  .header .menu .head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }
  .header .menu .close-menu-btn{
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .header .menu .close-menu-btn::before,
  .header .menu .close-menu-btn::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: black;
  }
  .header .menu .close-menu-btn::before{
    transform: rotate(45deg);
  }
  .header .menu .close-menu-btn::after{
    transform: rotate(-45deg);
  }
  .header .menu > ul > li{
    display: block;
  }
  .header .menu > ul > li:not(:last-child){
    margin-right: 0;
  }
  .header .menu > ul > li > a{
    padding: 12px 0;
  }
  .header .menu > ul > .dropdown > a{
    padding-right: 34px;
  }
  .header .menu i{
    height: 34px;
    width: 34px;
    /* border: 1px solid hsla(0, 0%, 100%, 0.25); */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }
  .header .menu .dropdown.active > i{
    /* background-color: hsla(0, 0%, 100%, 0.25); */
    transform: rotate(180deg);
  }
  .header .menu .sub-menu{
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }
  .header .menu .dropdown.active > .sub-menu{
    display: block;
  }
  .header .menu .sub-menu li:last-child{
    border: none;
  }
  .header .menu .sub-menu a{
    padding: 12px 0 12px 15px;
  }
  .header .menu .sub-menu .sub-menu a{
    padding-left: 30px;
  }
  .header .menu .sub-menu .sub-menu .sub-menu a{
    padding-left: 45px;
  }
  .header .menu .sub-menu span{
    background-image: none;
  }
  .header .menu .sub-menu i{
    transform: none;
    right: 0;
  }
  .header-right .open-menu-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border: none;
  }
  .header-right .open-menu-btn .line{
    height: 2px;
    width: 30px;
    background-color: royalblue;
    position: absolute;
  }
  .header-right .open-menu-btn .line-1{
    transform: translateY(-8px);
  }
  .header-right .open-menu-btn .line-3{
    transform: translateY(8px);
  }
}


/*header modifications*/